:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
  --black: hsl(0, 0%, 7%);
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  background-color: #f5f5f5;
  color: var(--black);
}

/* Custom Background Classes */
.bg-purple-100 { background-color: var(--purple-100); }
.bg-purple-500 { background-color: var(--purple-500); }
.bg-yellow-100 { background-color: var(--yellow-100); }
.bg-yellow-500 { background-color: var(--yellow-500); }

.text-purple-500 { color: var(--purple-500); }
.text-yellow-500 { color: var(--yellow-100); }

/* Bento Card Styling */
.card {
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.3s ease;
}

h1, h2, h3 {
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 1.1;

}
 .boxlast1{
  width:500px;
  height: fit-content;
}
h3 { font-size: 1.5rem; }
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }